body {
    background-color: floralwhite;
}

.container {
    position: fixed;
    height: 50vw;
    width: 50vw;
    top: calc((100vh - 50vw) / 2);
    left: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
}

.box, .box1 {
    width: 2.5vw;
    height: 2.5vw;
    background-color: blue;
    transition: 0.7s;
}

@media only screen and (min-width: 1440px) {
    .container {
        height: 40vw;
        width: 40vw;
        top: calc((100vh - 40vw) / 2);
        left: 30vw;
    }

    .box, .box1 {
        width: 2vw;
        height: 2vw;
    }
}