@font-face {
    font-family: Almond Butterfly;
    src: url(./fonts/AlmondButtery-Italic.otf);
}

body {
    font-family: "Almond Butterfly", "Lobster", sans-serif;
    background-color: #1c0200;
    font-size: 10pt;
    color: #b14243;
    line-height: 16pt;
}

.snow, .snow::before, .snow::after {
    content: "";
    background: radial-gradient(3px 3px at 150px 50px, white, transparent),
    radial-gradient(4px 4px at 540px 230px, white, transparent),
    radial-gradient(5px 5px at 230px 650px, white, transparent),
    radial-gradient(6px 6px at 650px 380px, white, transparent),
    radial-gradient(5px 5px at 230px 90px, white, transparent),
    radial-gradient(3px 3px at 680px 880px, white, transparent),
    radial-gradient(4px 4px at 990px 780px, white, transparent),
    radial-gradient(5px 5px at 720px 650px, white, transparent),
    radial-gradient(6px 6px at 520px 880px, white, transparent),
    radial-gradient(5px 5px at 430px 90px, white, transparent),
    radial-gradient(5px 5px at 50px 950px, white, transparent);
    position: absolute;
    inset: -2000px 0 0 0;
    background-size: 1000px 1000px;
    animation: animate 16s linear infinite;
    user-select: none;
    z-index: -1;
}

.snow::before {
    margin: -390px;
    opacity: 0.6;
    animation-duration: 18s;
    animation-delay: -1.5s;
}

.snow::after {
    margin: -130px;
    opacity: 0.8;
    animation-duration: 20s;
    animation-delay: -1.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(2000px);
    }
}

h1 {
    font-size: 55pt;
    line-height: 70pt;
    text-align: center;
    margin-top: 70px;
}

h3 {
    font-size: 25pt;
    line-height: 30pt;
    border-bottom: 2px #b14243 solid;
    margin-top: 20px;
    margin-bottom: 30px;
}

h5 {
    font-size: 14pt;
    line-height: 35pt;
}

.info {
    text-align: center;
    margin: 0 0 65px 0;
}

.textbox {
    margin: 20px 12vw 80px 12vw;
    background-color: rgb(72, 20, 18, 0.7);
    background-color: lav;
    padding: 2vw 3vw 3vw 3vw;
    border-radius: 50px 0 50px 0;
    border-top: 5px dashed antiquewhite;
    border-bottom: 5px dashed antiquewhite;
    font-family: "Almond Butterfly", "Lobster", sans-serif;
}

ul li::before {
    content: "\2731";
}

ol li {
    list-style: initial;
    margin: initial;
    list-style-type: decimal;
    margin-left: 1vw;
}

table {
    border-collapse: collapse;
    line-height: 20pt;
    vertical-align: middle;
    border-top: 2px solid #4a1410;
}

tr {
    border-bottom: 2px solid #4a1410;
}

td:first-child {
    width: 30vw;
}

td:nth-child(2), td:nth-child(3) {
    width: 20vw;
}

button {
    background-color: antiquewhite;
    border-radius: 70%;
    padding: 15px;
    margin-right: 4.4vw;
    display: inline-block;
    box-shadow: 5px 5px #b14243;
}

a {
    font-family: "Almond Butterfly";
    font-size: 10pt;
    color: #b14243;
    text-decoration: underline;
}

.textbox a {
    text-decoration: none;
}

a:hover {
    color: antiquewhite; 
}

button a:hover {
    color: #4a1410;
}
