body {
    background-color: #122340;

}

.container {
    position: fixed;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 5vw 9vw;
}

.box, .box-empty {
    width: 12vw;
    height: 12vw;
    background-color: #2e617e;
    border: 10px #45839f dashed;
    border-radius: 100%;
    transition: 0.5s;
}

.box-empty {
    opacity: 0;
}
