@font-face {
    font-family: Gravity Upright;
    src: url(./fonts/ABCGravityUprightVariable-Trial.ttf) format("truetype-variations");
}

@font-face {
    font-family: Gravity Italic;
    src: url(./fonts/ABCGravityItalicVariable-Trial.ttf) format("truetype-variations");
}

:root {
    --blue: #05315d;
    --red: #cb203f;
    --grey: #e6e8e8;
}

body {
    font-family: "Gravity Upright";
    background-color: var(--blue);
}

.container {
    display: flex;
    flex-direction: column;
}

.info {
    width: 100vw;
    height: 10vh;
    padding: 0 50px;
    display: flex;
    align-items: end;
}

.var-text {
    width: 100vw;
    height: 57vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    color: var(--red);
}

#textDisplay {
    font-size: 200pt;
    font-stretch: 60%;
    transition: 0.5s;
}

.type {
    height: 8vh;
    width: 100vw;
    padding: 0 50px;
}

.pannel {
    width: 100vw;
    height: 25vh;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.pannel-left, .pannel-right {
    display: flex;
    flex-direction: column;
    width: 47.5vw;
}


#specimen {
    background-color: whitesmoke;
    height: 45px;
    border: var(--red) 3px dotted;
    border-radius: 10px;
    font-size: 20pt;
    padding: 5px;
    color: var(--red);
    transition: 0.5s;
}

p {
    font-size: 20pt;
    margin-left: calc(1.5px + 5px);
    color: var(--grey);
}

.info p {
    font-size: 12pt;
    font-stretch: 95%;
    color: var(--grey);
}

input[type="text"] {
width: calc(100vw - 100px);
}

input[type="range"] {
    background: whitesmoke;
    border: var(--red) 3px dotted;
    border-radius: 10px;
    transition: 0.5s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: var(--red);
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 2px 2px 0 var(--blue);
    transition: 0.5s;
}

input[type="button"] {
    font-size: 20pt;
    background-color: var(--grey);
    height: 45px;
    border: var(--red) 3px dotted;
    border-radius: 10px;
    font-size: 20pt;
    padding: 5px 10px;
    color: var(--red);
    transition: 0.5s;
    margin-right: 20px;
    margin-bottom: 15px;
}

input[type="button"]:hover,
#specimen:hover {
    color: var(--grey);
    border: var(--grey) 3px dotted;
    background-color: var(--red);
    transition: 0.5s;
}

.aalt {
    font-feature-settings: "aalt";
}

.italic {
    font-family: "Gravity Italic";
}

.decenders {
    font-feature-settings: "ss14";
}

.lowercases {
    font-feature-settings: "ss15";
}

.short {
    font-feature-settings: "ss17";
}