@font-face {
    font-family: Calyx;
    src: url(./fonts/CalyxTrial-Regular.otf);
}

body {
    background-color: honeydew;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#timeHere {
    font-family: "Calyx";
    font-size: 500pt;
    position: relative;
    top: -150pt;
    right: 50px;
    transition: 1s liner;
    color: #43d377;
    transform: skew(18deg, 8deg);
}

span {
    line-height: 50px;
}

.dot {
    color: #ff8578;
}