@font-face {
    font-family: Calyx;
    src: url(./fonts/CalyxTrial-Regular.otf);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#timeHere {
    font-family: "Calyx";
    font-size: 500pt;
    position: relative;
    top: -180pt;
}